// @font-face {
//     font-family: railway-reg;
//     src: '';
// }

@font-face {
    font-family: raleway-reg;
    src: url('../../../src/assets/fonts/Raleway/static/Raleway-Regular.ttf');
}
@font-face {
    font-family: raleway-bold;
    src: url('../../../src/assets/fonts/Raleway/static/Raleway-Bold.ttf');
}
@font-face {
    font-family: open-reg;
    src: url('../../../src/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}